
body{
    background-color: black;
    color: white;
}
a {
    font-family: 'BC', 'spacemono', system-ui;
    font-size: 3rem;
    padding: 4vw
}
.welcome{
    font-family: 'spacemono', system-ui;
}
.description {
    font-family: 'spacemono', system-ui;
    font-size: 1.2em;
    color: #a8a8a8;
    margin-top: 0vw ;
    width: 35vw
} 
.day {
    font-family: 'BC', system-ui;
    font-size: 5rem;
    margin: 1.2vw 0vw;
    color: #e1e1e1;
}
.day2 {
    font-family: 'BC', system-ui;
    font-size: 4rem;
    margin: 1.2vw 0vw;
    color: #c1c1c1;
}
.weatherbox {
    top: 2.1rem;
    margin: 2vw;
    padding: 1.5vw;
    float: right;
    height: 70vh;
    overflow-y:scroll;
}
.weatherheader {
    font-size: 2rem;
    font-family: 'spacemono', system-ui;
    margin: 2vw;
    padding: 1.5vw;
    justify-content:center;
    position:fixed;
    background: black;
    border:magenta dashed;
}

@font-face {
    font-family: 'BC';
    src: url('fonts/LibreBarcode128Text-Regular[1].ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spacemono';
    src: url('fonts/SpaceMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
