.description {
    font-family: 'spacemono', system-ui;
    font-size: 1.2em;
    color: #555;
    margin-top: 10px ;
}
.day {
    font-family: 'BC', system-ui;
    font-size: 5rem;
    margin: 5px 0;
    color: #333;
}
@font-face {
    font-family: 'BC';
    src: url('fonts/LibreBarcode128Text-Regular[1].ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spacemono';
    src: url('fonts/SpaceMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
