
body{
  background-color: rgb(0, 0, 0);
  font-family: 'CMD';
  overflow: hidden;
  margin-left: 12px;
}
/*--*/
@font-face {
    font-family: 'CMD';
    src: url('fonts/CMD.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spacemono';
    src: url('fonts/SpaceMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.filter{
     filter: url(#SphereMapTest);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.header {
    font-family: CMD, monospace;
    color: rgb(252, 127, 255);
    animation: textShadow 1.6s infinite !important;
    font-size: 5rem;
    text-align: left !important;
    position: absolute;
    top: 3vh;
    left: 2rem;
    right: auto;
    margin: 0;
}

/*--*/
p, pre {
  color: rgb(252, 127, 255);
  text-shadow: 0px 0px 23px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255);
  font-size: 2rem;
  font-family: 'CMD', monospace;
  animation: textShadow 1.6s infinite !important;
  text-align: left !important;
  position: absolute;
  top: 6rem;
  left: 2rem;
  right: 2rem;
  margin: 0;
  width: 40vw;
  max-width: 50vw;
  white-space: pre-wrap;

}
/*--*/
pre{
  color: rgb(252, 127, 255);
  text-shadow: 0px 0px 9px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255);
  font-size: 2rem;
  font-family: 'CMD', monospace;
  animation: textShadow 1.6s infinite !important;
}

.skip{
  color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.5rem;
  right: 2rem;
  top: 2.7rem;
  position: absolute;
}

.botttom-right{
  bottom: 0;
  right: 0;
  position: absolute;
}

.updates{
  color: rgb(252, 127, 255);
  text-shadow: 0px 0px 23px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255), 0px 0px 23px rgb(246, 0, 255);
  font-size: 1.5rem;
  font-family: 'CMD', monospace;
  animation: textShadow 1.6s infinite !important;
  text-align: left !important;
  position: absolute;
  top: 40%;
  left: 60%;
  margin: 5px;
  width: 40vw;
  max-width: 50vw;
  white-space: pre-wrap;
}

/*flicker effect*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.40626;
  }
  20% {
    opacity: 0.28128;
  }
  25% {
    opacity: 0.33891;
  }
  30% {
    opacity: 0.45583;
  }
  35% {
    opacity: 0.27807;
  }
  40% {
    opacity: 0.36559;
  }
  45% {
    opacity: 0.44693;
  }
  50% {
    opacity: 0.36019;
  }
  55% {
    opacity: 0.58594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.41988;
  }
  70% {
    opacity: 0.23455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.51428;
  }
  85% {
    opacity: 0.40419;
  }
  90% {
    opacity: 0.2003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
/*chromatic abberation effect*/
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -4.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

.crt-overlay {
  position: fixed;
  top: 1.5vh;
  left: 2.7px;
  bottom: 5vh;
  width: 96vw;
  height: 86vh;
  pointer-events: none;
  z-index: 99999999;
  animation: textShadow 1.6s infinite !important;
  margin: 0;
  overflow: hidden;
}
.crt-overlay::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.4);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.09), rgba(0, 255, 0, .04), rgba(0, 0, 255, 0.1));
  z-index: 3;
  background-size: 100% .3125rem, .5rem 100%;
  pointer-events: none;
}

.hover-highlight{
  z-index: -10;
}

.hover-highlight:hover{
  z-index: 2;
}

.orb {
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.orb img {
  transition: all 0.3s ease;
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  display: block;
  cursor: pointer;
  pointer-events: auto;
}
.orb img:hover {
  transition: all 0.5s ease-in-out;
  width:220px;
  height:220px;
  z-index: -1;
}

#screen {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity 1s;
    pointer-events: auto;
    filter: none;
    border-radius: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.svg-filter {
    position: absolute;
    top: -9999px;
    z-index: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.scanline, .scanline1 {
    width: 100vw;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;	
}
@keyframes scanline {
    0% {
        bottom: 98%;
    }
    100% {
        bottom: 12.4%;
    }
}

.boot-overlay {
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 5s;
  opacity: 1;
  pointer-events: auto;
}
.boot-overlay.fade {
  opacity: 0;
  pointer-events: none;
}

.boot-button {
    height: 33px;
    padding: 2px 8px;
    border: 1px solid #ff00d9;
    background: black;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50vh;
    left: 50vw;
    font-family: 'CMD', monospace;
    z-index: 10000;
}
.boot-button:hover {
    height: 33px;
    padding: 2px 8px;
    border: 1px solid #ff00d9;
    background: black;
    color: rgb(177, 21, 159);
    transition: background-color 0.2s ease-in-out;
}
.boot-button:active {
    height: 33px;
    padding: 2px 8px;
    border: 1px solid #ff00d9;
    background: rgb(177, 21, 159);
    color: rgb(255, 255, 255);
}
/*fix later*/
.boot-terminal{
  width: 100vw;
  height: 100vh;
  left: 3.5vw;
  top: 3.5vw;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  align-items: left;
  justify-content: left;
  overflow: hidden;
  transition: opacity .4s ease-in-out;
  pointer-events: auto;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;

}

