.cross{
    cursor: crosshair;
    width: 100%;
    height: 100%;
    position: fixed;
}
body{
  background-image: url('assets/textures/pockmarksdark.gif'),url('assets/textures/hubble_ngc2031-jpg-3832570715.jpg');
  background-repeat:repeat-x;
  font-family: 'CMD';
}
.bottom-flex{
  bottom: 0%;
  display: flex;
  z-index: 2;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.bottom-text-box p:hover {
  transform: scale(110%);
  
}
.bottom-text-box p {
  border: 2px dashed black;
  padding: 1em;
  margin: 1em;
  transform: 8s ease-in-out;
  background:
  linear-gradient(#000, #000) padding-box,
  repeating-linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple, red) border-box;
  background-size: auto, 200% 100%;
  animation: rainbow 9s linear infinite;
}
@keyframes rainbow {
  from { background-position: 0 0, -100vh 0; }
  to   { background-position: 0 0, 100vh 0; }
}
.top-right-corner {
    position: fixed;
    top: -70%;
    right: -25%;
    position: fixed;
    overflow: clip;
    animation: spin 480s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.bottom-halfL{
    position: fixed;
    top: 50%;
    left:0;
    position: fixed;
    overflow: clip;
}
.bottom-halfR{
    position: fixed;
    top: 50%;
    right:0;
    position: fixed;
    overflow: clip;
}
.black-box{
  width:120vw;
  height:50vh;
  background-color: black;
  top: 50%;
  left:0;
  position: fixed;
  z-index: 0;
}
.left-box{
  background-image: url('assets/textures/badstatic.gif');
  border: double white;
  margin-left: -1rem;
  margin-top: -3.56em;
  padding-left: 10%;
  z-index: 5;
}
.left-box-anim{
    background-color: transparent;
    border: dashed grey;
    margin-top:10%;
    width: 110vw;
    margin-left:-40%;
    color: transparent;
    height: 4rem;
    animation: rolling 3s linear infinite;
}

@keyframes rolling {
  from { transform: translateX(-20vw); }
  to { transform: translateX(30vw); }
}

/*--*/



@font-face {
    font-family: 'CMD';
    src: url('fonts/CMD.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spacemono';
    src: url('fonts/SpaceMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
/*--*/
p, pre {
  color: white;
  font-size: 2rem;
  font-family: 'CMD', monospace;
  animation: textShadow 10s ease-in-out infinite;
  text-align: left;
  padding: 0;
  margin: .1em;
}
/*chromatic abberation effect*/
@keyframes textShadow {
  0% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  25% {
    text-shadow:
      0.3rem 0 1px rgba(0,30,255,0.5),
      -0.3rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  50% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  75% {
    text-shadow:
      -0.3rem 0 1px rgba(0,30,255,0.5),
      0.3rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  100% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }
}
