.cross{
    cursor: crosshair;
    width: 100%;
    height: 100%;
    position: fixed;
}
body{
  background-image: url('assets/textures/pockmarksdark.gif'),url('assets/textures/hubble_ngc2031-jpg-3832570715.jpg');
  background-repeat:repeat-x;
  font-family: 'CMD';
}

.top-right-corner {
    position: fixed;
    top: -70%;
    right: -25%;
    position: fixed;
    overflow: clip;
    animation: spin 480s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.bottom-halfL{
    position: fixed;
    top: 50%;
    left:0;
    position: fixed;
    overflow: clip;
}
.bottom-halfR{
    position: fixed;
    top: 50%;
    right:0;
    position: fixed;
    overflow: clip;
}
.black-box{
  width:120vw;
  height:50vh;
  background-color: black;
  top: 50%;
  left:0;
  position: fixed;
}
.left-box{
  background-image: url('assets/textures/badstatic.gif');
}
/*--*/
@font-face {
    font-family: 'CMD';
    src: url('fonts/CMD.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spacemono';
    src: url('fonts/SpaceMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
/*--*/
p, pre {
  color: white;
  font-size: 2rem;
  font-family: 'CMD', monospace;
  animation: textShadow 10s ease-in-out infinite;
  text-align: left;
  margin: 10%;
}
/*chromatic abberation effect*/
@keyframes textShadow {
  0% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  25% {
    text-shadow:
      0.3rem 0 1px rgba(0,30,255,0.5),
      -0.3rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  50% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  75% {
    text-shadow:
      -0.3rem 0 1px rgba(0,30,255,0.5),
      0.3rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }

  100% {
    text-shadow:
      0rem 0 1px rgba(0,30,255,0.5),
      0rem 0 1px rgba(255,0,80,0.3),
      0 0 3px;
  }
}
