body {
  background: #16191d;
  color: #fff;
  font-family: monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

p{
  font-size: 1rem;
  line-height: 2rem;
}

.subtext{
  font-size: 8px;
  color: #888;
}

.desmos-menu {
  max-width: 30vw;
  margin: 3px ;
  background: #23272b;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  text-align: center;
}

.desmos-menu h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #e9e9e9;
  letter-spacing: 1px;
}

.desmos-content {
  max-width: 50vw;
  margin: 3px auto;
  padding: 1.5rem;
  background: #24272b;

}

.desmos-sidebar {
  width: auto;
  background: #23272b;
  overflow-y: auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.desmos-sidebar button {
  background: #181c20;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.desmos-sidebar button:hover {
  background: #ff00d9;
  color: #fff;
}

.desmos-sidebar button:focus {
  background: #9c1087;
  color: #fff;
}

.desmos-item {
  margin-bottom: 1em;
}
.desmos-desc {
  font-size: 1.5em;
  color: #aaa;
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.desmos-desc-area {
  font-size: 1.5em;
  color: #aaa;
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.backtrackicon{
  animation: zrot 3s ease-in-out 0.5s infinite alternate forwards;
  radius: 50%;
  
}

@keyframes zrot{
     from {
        transform: rotateZ(0deg);
      }
      50% {
        transform: rotateZ(180deg);
      }
      to {
        transform: rotateZ(-0px);
      }
}
